body {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: Helvetica, sans-serif;
  text-shadow: 2px 2px #0000004b;
  text-transform: capitalize;
}
#weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
#city {
  font-size: 30px;
}
#temperature {
  font-size: 70px;
  font-weight: 100;
  margin-top: 10px;
}
#description {
  font-size: 20px;
}

#high-low {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  margin-top: 10px;
}
#search-container {
  grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
  column-gap: 10px;
}
#search-container a {
  font-weight: 700;
  position: relative;
  top: 10px;
}
#search-button {
  background-image: url(svg/magnify.svg);
  background-position: 0%;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  height: 30px;
  width: 20px;
  border: none;
  cursor: pointer;
  filter: brightness(0) invert(1);
}
#search-button span {
  display: none;
}
#search-bar {
  position: relative;
  top: 4px;
  border-radius: 30px;
  height: 30px;
  background-color: rgba(49, 46, 49, 0.278);
  color: rgb(255, 255, 255);
  border: none;
  padding-left: 15px;
}
#search-bar:focus {
  outline: 0;
}
